.heading{
    width:80%;
    font-size:25px;
}

body{
    background-color:pink;
}

#yellow{
    color:orange;
    font-weight: bold;
    font-size:18px;
}

center {
    display: block;
}